<form action="/students" method="POST">
  <p>
    <label for="first_name">First Name</label><br>
    <input type="text" name="first_name" id="first_name">
  </p>
  <p>
    <label for="last_name">Last Name</label><br>
    <input type="text" name="last_name" id="last_name">
  </p>
  <p>
    <label for="dob">Date of Birth</label><br>
    <input type="text" name="dob" id="dob">
  </p>
  <p>
    <input type="submit" value="Add Student">
  </p>
</form>