<form actiion="">
<p>
<label for="title">Coolguy</label>
<input type="text" name="title">
</p>
<p>
<label for="content">McCoolerson</label>
<input type="text" name="content">
</p>
<input type="submit">
</form>