<form action="/posts" method="POST">
  <p>
    <label for="title">Title</label><br>
    <input type="text" name="title" id="title">
  </p>
  <p>
    <label for="post">Post:</label><br>
    <input type="text" name="post" id="post">
  </p>
  <label for="authors">Authors</label><select id="authors">
    <option value="1">Ryan Pauley</option>
    <option value="2">Jack Hamblin</option>
    <option value="3">Joel Hampton</option>
    <option value="4">Juniper The Enigma
    </option>
    </select>
  <p>
    <input type="submit" value="Create Post">
  </p>
</form>