<p><h4>Please enter your name and email to find out about upcoming programs and events</h4>
		<form action="/thankyou" method="POST">
		<input type="text" name="submit_name" value="Full Name" id="submit_name">
		<input type="text" name="email" value="Email" id="email">
		<input type="Submit">
		</form></p>