<p>This is General Admission Sydney's WDI course.</p> 

<p> WDI stands for Web Development Intensive. Students study the full stack of development tools for 12 weeks and emerge knowledgeable development engineers.</p>

<h2>Click below to learn more about some of our brightest stars:</h2>

<a href="/students/Ryan"><h2>SYDNEY</h2></a>
