<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
	<header id="banner">
	<a href="/"><h1>General Assembly SYDNEY</h1></a>
	<p><a href='/students/Ryan'>Meet the newest generation of <del>inept</del> <em>"special"</em> programmers:</a></p>
	</header>


	<center><%= yield %></center>
	

	<footer>
	<center><a href="/contact"><h4>Find out about upcoming programs and Events</h4></a></center>
	</footer>
	</body>
</html>