<!DOCTYPE html>
<html>
  <head>
    <title>Blog v2</title>
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Blog</h1>
    </header>
    <p>
      <a href="/">Posts</a> | <a href="/authors">Authors</a>
    </p>
    <hr>

    <%= yield %>
    <footer>
    <h2>This is not a real blog</h2>
    </footer>
  </body>
</html>