<form action="/authors" method="POST">
  <p>
    <label for="first_name">First Name</label><br>
    <input type="text" name="first_name" id="first_name">
  </p>
  <p>
    <label for="last_name">Last Name</label><br>
    <input type="text" name="last_name" id="last_name">
  </p>
  <p>
    <label for="bio">Enter Bio</label><br>
    <textarea name="bio" id="bio"></textarea>
  </p>
  <p>
    <label for="website">Enter Website</label><br>
    <input type="text" name="website" id="website">
  </p>
  <p>
    <label for="twitter">Twitter Handle</label><br>
    <input type="text" name="twitter" id="twitter">
  </p>
  <p>
    <input type="submit" value="Create Author">
  </p>
</form>