<!DOCTYPE html>
<html>
	<head>
		<title>Calculator</title>
		<link rel="stylesheet" type"text/css" href="calc.css">
		<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>


	<style>
	body {
	padding-top: 100px;
 	text-align: center;
 	background-color: gray;
 	color: orange;
 	font-family: 'Press Start 2P', cursive;
 	span > ul: inline-block;
	}
	</style>
	</head>
<body>
	<span>
	<ul>
	<p>|  1  |  2  |  3  |</p>
	</ul>
	</span>
<span>
	<ul>
	<p>|  4  |  5  |  6  |</p>
	</ul>
	<span>
	<ul>
	<p>|  7  |  8  |  9  |</p>
	<span>
	<ul>
	<p>|  0  |</p>
	</ul>
	</span>
	<h1>Crunk Dat Datum!</h1>
	<p>
	<%= yield %>
	</p>

</body>
</html>