<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinatra Blog</title>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="blog.css">
</head>
<header>
	<h1>Blog! The destoryer</h1>
</header>
<body>
  <%= yield %>

</body>
</html>