<form action="/blog_posts" method="POST">
  <p>
    <label for="title">Post Title:</label><br>
    <input type="text" name="title" id="title">
  </p>
  <p>
    <label for="author">Author</label><br>
    <input type="text" name="author" id="author">
  </p>
  <p>
    <label for="author_website">Author Website</label><br>
    <input type="text" name="author_website" id="author_website">
  </p>
  <p>
    <label for="content">Blog Post:</label><br>
    <input type="text" name="content" id="content">
  </p>
  <p>
    <input type="submit" value="Add Post">
  </p>
</form>