<!DOCTYPE html>
<html>
<head>
  <title>Moma</title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' link-type="text/css" href="normalize.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>The Museum of Modern Art</h1>
	</header>

	<main>
		<%= yield %>
	</main>

	<footer>
		<h4>This is a sample site and has no relation to any museums :R</h4>	
	</footer>

</body>
</html>
