<!DOCTYPE html>
<html>
  <head>
    <title>Fluffy Project Management</title>
  </head>
  <body>
    <h1>Fluffy Project Management</h1>
    <p>
      <a href="/">Tasks</a> | <a href="/workers">Workers</a>
    </p>

    <%= yield %>
  </body>
</html>